

.title {
    font-size: 40px;
    color: #1976d2;
    margin: 10px 0 0 30px;
}
.checkBox {
    font-size: 25px;
    margin: 10px 0 0 30px;
    color: #062a4e;
}
.name {
    font-size: 25px;
    margin: 30px 0 0 60px;
}

.inputs {
    margin: 30px 0 0 60px;
    .inputsButton {
        margin: 0 0 0 100px;
        font-size: 24px;
    }
}