.box {
    padding-top: 7%;
    .boxInputs {
        border: 3px solid #1565c0;
        border-radius: 7px;
        margin:0 auto;
        height:max-content;
        max-width: 250px;
        padding: 30px 34px 15px;
    }
}

.boxCreateAccount {
    border: 3px solid #1565c093;
    border-radius: 7px;
    margin: 20px auto;
    height:max-content;
    max-width: 250px;
    padding: 15px 34px;
    .link {
        padding: 0;
        margin: 0;
        color: #1565c0;
    }
}

.nativeAd {
    border: 2px solid rgba(204, 204, 204, 0.356);
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(204, 204, 204, 0.356);
    padding: 15px 34px;
    border-radius: 7px;
    max-width: 250px;
    margin: 0 auto;
}

.buttonAddChat {
    @media (max-width:600px) {
        padding: 10px;
        
    }
}
.nativeAdDescription {
    text-align: right;
    color: rgba(27, 25, 25, 0.685);
    font-size: 9px;
}