.chats {
    display: grid;
    grid-template-columns: 1fr 4fr;
    box-sizing: border-box;
    height: 95%;
    .messages {
        background-color: #99dfff;
        max-height: 100%;
        box-sizing: border-box;
    }
}