// .chats {
//     display: grid;
//     grid-template-columns: 1fr 4fr;
//     box-sizing: border-box;
//     // height: 100%;
//     .messages {
//         // background-color: #99dfff;
//         height: 100%;
//         border-radius: 6px;
//         border-top-right-radius: 0;
//         box-sizing: border-box;
//     }
//     .containerDialog {
//         // max-height: 90%;
//         display: grid;
//         grid-template-rows: 1.5fr 1fr;
//         box-sizing: border-box;
//         .dialogs {
//             max-height: 600px;
//             overflow-x: auto;
//             &::-webkit-scrollbar {
//                 width: 5px;
//                 height: 5px;   
//             }
//             &::-webkit-scrollbar-track {
//             background: transparent;
//             }
//             &::-webkit-scrollbar-thumb {
//             background-color: #2474cf94;
//             border-radius: 20px;       
//             }
//         }
        
//     }
		
// }

// .chats__newDialogInput{
// 	box-sizing: border-box;
// 	height: 260px;
// 	margin: 0 auto;
// }
// .newChatButton {
//     padding: 5px 0 0 0;
// }

// .warning {
//     padding: 10px 10px 10px 15px;
//     font-size: 40px;
//     color:#0a2836;
// }

.chats {
	display: grid;
	min-height: 100%;
	grid-template-columns: 1fr 5fr;
	background-color: #ccc;
	.containerDialog {
		grid-column: 1 / 2;
		display: grid;
		grid-template-rows: minmax(min-content, 40rem) minmax(10rem, 2fr);
		row-gap: 2rem;
	}
	.chats__newDialogInput {
		grid-row: 2 / 2;
	}
	.messages {
		background-color: aliceblue;
		grid-column: 2 / 2;
		
	}
	background-color: #d5e0ff;
}

