.home {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(
      2rem,
      1fr
    );
  row-gap: 8rem;
  color: #fff;
  &__logo {
    margin: 3rem 0 0 0;
    font-size: 8rem;
    text-align: center;
    grid-column: 2 / 3;
    @media (max-width: 640px) {
      font-size: 4rem;
    }
  }
  &__text {
    grid-column: 2 / 3;
    text-align: center;
    &:first-of-type {
      font-size: 3rem;
    }
    &:last-of-type {
      font-size: 2rem;
    }
  }
  .ad {
    grid-column: 2/3;
    margin: 0 auto;
    font-size: 1.5rem;
    .link {
      color: #fff;
    }
  }
}
