.home {
    height: 93%;
    background-color: rgb(140, 184, 224);
}
.logo {
    
	color: #fff;
	//box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
	text-transform: uppercase;
    max-height: 93%;         
}

