

.box {
    height: 100%;
    max-height: 100%;
    // border-left: 4px solid #1976d2;
    .messagesName {
        height: 3%;
        max-height: 3%;
        background-color: #2474cf;
        color: #fff;
        display: flex;
        flex-direction: row-reverse;
        padding: 6px 25% 0 0;
        border-bottom: 1px solid #9ab9d8;
        border-bottom-right-radius: 7px;
        font-size: 18px;
        font-weight: bold;
    }
    .messages {
        box-sizing: border-box;
        // padding: 5px;
        min-height: 83.5%; 
        max-height: 540px;
        display:grid;
        grid-auto-rows: max-content;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;   
        }
        &::-webkit-scrollbar-track {
        background: transparent;
        }
        &::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 20px;       
        }
        
    }
    .input {
        margin-top: 4px;
        height: 10%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1px;
    }
}
.warning {
    padding: 10px 10px 10px 15px;
    font-size: 100px;
    color:#0a2836;
}

@-moz-document url-prefix() {
    .box .messages {
      min-height:84.5%;
    }
  }

  .user {
    margin:5px 0 5px;
    justify-self: end;
}

.bot {
    justify-self: start;
}
.date {
    justify-self: center;
}

