// .ErrorPage {
//     height: 100%;
//     background-color: rgb(140, 184, 224);
//     color: #fff;
// 	text-transform: uppercase;
// }

.errorPage {
	font-size: 9rem;
	text-align: center;
	color: #fff;
}
