
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;               /* ширина всей полосы прокрутки */
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #f3000069;
    border-radius: 20px;       /* округлось бегунка */
    // border: 3px solid orange;  /* отступ вокруг бегунка */
  }

// .box {
//     width: 100vw;
//     height: 100vh;
//     // border: 1% solid #1565c0;
//     // border-radius: 5px;
//     box-sizing: border-box;
//     padding-top: 5px;
//     margin: 0;
// }
