.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    .listLink {
        text-decoration-line: none;
        margin:0 10px 0 0;
        border: 2px solid #1565c0;
        color: #1565c0;
        background-color: #fff;
        padding: 5px 5px;
        border-radius: 5px;
    }
}