

.text {
        box-sizing: border-box;
        padding: 5px;
        margin: 0 5px 5px 5px;
        word-wrap: break-word;
        max-width: 150px;
        min-width: 15px;
        background-color: rgb(244, 253, 253);
        border:1px solid rgb(18, 133, 228);
        border-radius:3px;
}
